<% include ./header2.ejs %>
<!--病例列表页-->
<script>
    var searchedDisease = [];
    $(document).ready(function() {
        //初始化症状自动完成过滤栏
        var url = "/api/Select";
        $("#sel_menu2").select2({
            multiple:true,
            placeholder: eng == 1 ? 'Please enter phenotype name or ID' : '请输入症状名或症状ID',
            ajax:
                {
                    url:url,
                    dataType: 'json',
                    delay: 600,
                    contentType:"application/x-www-form-urlencoded;charset=UTF-8",
                    data: function (params){
                        return {
                            query: params.term, // search term
                        };
                    },
                    processResults: function (data, page)
                    {
                        return{
                            results: data.items
                        };
                    },
                    cache:true
                },
            escapeMarkup: function (markup)
            {
                return markup;
            },
            minimumInputLength: 2,
            formatInputTooShort:  eng == 1 ? 'Please enter at least 2 characters' : "请输入至少2个字符以进行检索",
            //maximumInputLength: 40,
            templateResult:formatRepo,
            templateSelection:formatRepoSelection,
            openOnEnter: false
        }).on("select2:select", function(e){
            searchedDisease.push(e.params.data.id);
        }).on("select2:unselect", function(e){
            searchedDisease.splice(searchedDisease.indexOf(e.params.data.id),1);
        });
    });
    function formatRepo(repo)
    {
        if (repo.loading) return repo.text;
        repo.text = repo.name;
        var markup = '<option class="select2-option-click" value='+repo.id+'>'
            + repo.id+'|'+repo.text+'</option>';
        return markup;
    }

    function formatRepoSelection(repo){
        repo.selected = true;
        repo.name = repo.id
        if(repo.id == null || repo.name == ""){
            repo.id = 'Please type items'
            repo.name = repo.text
        }
        return repo.text;
    }

    //AngularJS初始化
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.page = 0;
        $scope.searchTimes = 0;
        $scope.morePages = false;

        //提交病例搜索，目前仅支持单个搜索。
        $scope.searchSubmit = function () {
            $scope.searchedDisease = '';
            for (var i = 0;i < searchedDisease.length;i++){
                $scope.searchedDisease += searchedDisease[i]+'|';
            }
            $scope.searchCase();
        }

        //查找病例，offset为页数。若关键词为空则为列出病例
        $scope.searchCase = function (offset) {
            if (arguments[0]){
                if (!$scope.morePages && offset > 0) return;
                if ($scope.page == 0 && offset < 0) return;
                $scope.page += offset;
            }
            else {
                $scope.page = 0;
            }
            $.ajax({
                url : "/searchCase",
                async: false,
                data : {
                    searched: $scope.searchedDisease,
                    page: $scope.page
                },
                type: 'GET',
                success: function( data ) {
                    $scope.cases = data.cases;
                    $scope.searchTimes++;
                    for (var i = 0;i < $scope.cases.length;i++){
                        var param = '?eng=' + eng;
                        param += '&HPO='+$scope.cases[i].Phenotype.replace(/;/g, ',');
                        $.ajax({
                            url: 'https://www.diseasegps.org/cgi-bin/MDPA/HPOName.cgi'+param,
                            searchTime: $scope.searchTimes,
                            i: i,
                            success: function (data) {
                                if ($scope.searchTimes != this.searchTime) return;
                                $scope.cases[this.i].Phenotype = data;
                                $scope.$apply();
                            }
                        })
                    }
                    $scope.morePages = !data.finalPage;
                },
                error: function() {
                    alert("网络连接异常");
                }
            });
        };

        //发送查看病例请求
        $scope.viewRequest = function(caseId, owner){
            if (confirm("是否要向\""+owner+"\"发出查看该病例的申请？")) {
                $.ajax({
                    url: "/request_view",
                    async: false,
                    data: {
                        id: caseId
                    },
                    type: 'POST',
                    success: function (respond) {
                        if (respond == "success") {
                            alert("申请成功，请耐心等待结果。");
                        } else if (respond == "pending") {
                            alert("您的申请还未处理，请耐心等待。");
                        } else if (respond == "error") {
                            alert("未知错误");
                        }
                    },
                    error: function () {
                        alert("网络连接异常");
                    }
                });
            }
        };
        $scope.searchCase();
    });

</script>
<div class="row row-search">
    <FORM METHOD=GET id="form1">
        <div class="col-md-11 search-div input-search">
            <select id="sel_menu2" name="HPO" multiple="multiple" class="form-control">
            </select>
        </div>
        <input type="button" value="<%-lan == 'eng' ? 'Search' : '搜索'%>" class="btn btn-default col-md-1 search-case" ng-click="searchSubmit()">
    </FORM>
</div>
<hr>
<a href="javascript: void(0)" ng-click="searchCase(-1)">上一页</a>
<a class="pull-right" href="javascript: void(0)" ng-click="searchCase(1)">下一页</a>
<table class="table table-bordered table-striped dataTable" role="grid">
    <thead>
    <tr role="row">
        <th class="col-md-1">
            ID
        </th>
        <th class="col-md-7" title="<% if (lan == 'eng') { %>All the symptoms of this case<% } else { %>该病例的所有症状<% } %>">
            <% if (lan == 'eng') { %>Symptoms<% } else { %>症状<% } %>
        </th>
        <th class="col-md-1">
            <% if (lan == 'eng') { %>Owner<% } else { %>所有者<% } %>
        </th>
        <th class="col-md-1" title="<% if (lan == 'eng') { %>Public or private<% } else { %>公开或私有<% } %>">
            <% if (lan == 'eng') { %>Authorization<% } else { %>权限<% } %>
        </th>
        <th class="col-md-2" title="<% if (lan == 'eng') { %>View a case, or get permission to view it<% } else { %>查看症状，或获取查看权限<% } %>">
            <% if (lan == 'eng') { %>Operation<% } else { %>操作<% } %>
        </th>
    </tr>
    </thead>
    <tbody id="tableBody">
        <tr role="row" class="color-palette" ng-repeat="case in cases">
            <td>{{ case.id }}</td>
            <td style="word-break: break-all;">{{ case.Phenotype }}</td>
            <td>{{ case.Owner }}</td>
            <td>{{ case.View == 'public' ? '<%-lan == 'eng' ? 'public' : '公开'%>' : '<%-lan == 'eng' ? 'private' : '私有'%>' }}</td>
            <% if (userName == '') { %>
            <td><%-lan == 'eng' ? 'Please login' : '请登录以进行操作'%></td>
            <% } else { %>
            <td ng-if="case.View == 'public' || case.viewable == 'yes'"><a target="_blank" ng-href="{{ '/watch_case/' + case.id }}">查看该症状</a></td>
            <td ng-if="case.View == 'private' && case.viewable != 'yes'">
                <a href="javascript: void(0);" ng-click="viewRequest(case.id, case.Owner)">申请查看权限</a>
            </td>
            <% } %>
        </tr>
    </tbody>
</table>
<% include ./footer2.ejs %>