<% include ./header2.ejs %>
<!--基因诊断页-->

<div class="container">

    <ul>
        <li><% if (lan == 'eng') { %>
            <a href="/pdf_reader?fileName=VCF-Server-Manual-EN.pdf">
                VCF-Server User Manual (2018-07-09)
            </a>
            <% } else { %>
            <a href="/pdf_reader?fileName=VCF-Server-Manual-CH.pdf">
                VCF-Server用户手册 (2018-07-09)
            </a>
            <% } %></li>
    </ul>

</div>
<% include ./footer2.ejs %>
