<% include ./header2.ejs %>
<!--更改密码页，未登录用户可通过输入邮箱重置密码-->

<% if (loggedIn) { %>
<script>
    //新密码验证和修改请求
    function newPassword() {
        var $password = $('#password');
        if ($password.val().length < 6 || $password.val().length > 20)
        {
            alert('密码长度在6-20之间！')
            return false;
        }
        if ($password.val() != $('#passwordRepeat').val())
        {
            alert('两次输入的密码不一致！')
            return false;
        }
        $.ajax({
            url: '/new_password',
            type: 'POST',
            data: {
                password: $password.val()
            },
            success: function (msg) {
                if (msg == 'ok'){
                    alert('密码修改成功！');
                    window.location.href = '/';
                } else {
                    alert('未知错误。');
                }
            },
            error: function () {
                alert('网络连接异常，请稍后再试');
            }
        })
    }
</script>
<label class="col-md-6"><% if (lan == 'eng') { %>Please enter new password:
    <% } else { %>请输入新密码：<% } %>
    <input id="password" type="password">
</label>
<label class="col-md-6"><% if (lan == 'eng') { %>Please repeat new password:
    <% } else { %>请再次输入新密码：<% } %>
    <input id="passwordRepeat" type="password">
</label>
<button class="btn btn-default pull-right" onclick="newPassword()"><% if (lan == 'eng') { %>OK<% } else { %>完成<% } %></button>
<% } else { %>
<script>
    //发送验证邮件
    function send() {
        $.ajax({
            url: '/emailVerify?email=' + $('#emailAddress').val(),
            success: function (msg) {
                if (msg == 'ok'){
                    alert('系统已经向您的邮箱发送了验证邮件，请查收。');
                } else if (msg == 'exist') {
                    alert('抱歉，该邮箱不存在。');
                }
            },
            error: function () {
                alert('网络连接异常，请稍后再试');
            }
        })
    }

    //通过邮件中的验证码进行验证，成功后将用户登录
    function verify() {
        $.ajax({
            url: '/emailVerify?code='+$('#verify').val(),
            success: function (msg) {
                if (msg == 'ok'){
                    window.location.reload();
                } else if (msg == 'code') {
                    alert('抱歉，邮箱验证码输入错误。');
                } else if (msg == 'exist') {
                    alert('请先输入邮箱，并点击“发送”以发送邮件。');
                }
            },
            error: function () {
                alert('网络连接异常，请稍后再试');
            }
        })
    }
</script>
<div class="col-md-6">
<label><% if (lan == 'eng') { %>Please enter your Email address so we can send you a verify code:
    <% } else { %>请输入邮箱地址，将发送验证邮件：<% } %>
    <input id="emailAdress">
    <button class="btn btn-default pull-right" onclick="send()"><% if (lan == 'eng') { %>Send<% } else { %>发送<% } %></button>
</label>
</div>
<div class="col-md-6">
<label><% if (lan == 'eng') { %>Please enter the verify code we sent you:
    <% } else { %>请输入邮件内验证码：<% } %>
    <input id="verify">
    <button class="btn btn-default pull-right" onclick="verify()"><% if (lan == 'eng') { %>Verify<% } else { %>验证<% } %></button>
</label>
</div>
<% } %>

<% include ./footer2.ejs%>