<% include ./header2.ejs %>
<script src="<%=static_dir%>/js/accounting.min.js"></script>
<!--症状诊断页-->
<div class="row">
    <div class="modal-content">
        <div class="modal-header">
            <h4><% if (lan == 'eng') { %> Upload File - Maximum for 5GB <% } else { %> 上传文件 - 最大支持5GB<% } %></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="col-md-6" for="uploads"><% if (lan == 'eng') { %>File: <% } else { %>文件：<% } %>
                    <input id="upload-input" accept=".vcf,.gz" name="uploads" type="file" class="form-control" autofocus/>
                </label>
                <label class="col-md-6" for="genome_version"><% if (lan == 'eng') { %> Genome Version: <% } else { %> 基因组版本： <% } %>
                    <select id="genome_version" name="genome_version">
                        <option value="hg19" selected>hg19/CRCh37</option>
                        <option value="hg38">hg38/CRCh38</option>
                    </select>
                </label>

            </div>
            <div class="progress">
                <div id="upload-bar" class="progress-bar" role="progressbar"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary upload-btn">OK</button>
        </div>
        <div id="errMsg"><% if(userName == '' && currentDir == '/tmp'){if (lan == 'eng') { %> <h4 class="text-danger">Notice: VCF files in this folder will be <strong><u>deleted</u></strong> after close, please download/export them to local disk on time. </h4><% } else { %><h4 class="text-danger">注意：该目录下的VCF文件在浏览器退出后将被<strong><u>清除</u></strong>，请及时导出到本地！</h4><% }} %></div>

        <table class="table table-hover table-striped">
            <thead>
                <tr class="sortable">
                    <th><% if (lan == 'eng') { %> Type <% } else { %> 类型<% } %></th>
                    <th><% if (lan == 'eng') { %> Name <% } else { %> 文件名<% } %></th>
                    <th><% if (lan == 'eng') { %> Size <% } else { %> 文件大小<% } %></th>
                    <th><% if (lan == 'eng') { %> Variants <% } else { %> 变异数<% } %></th>
                    <th><% if (lan == 'eng') { %> Phenotype <% } else { %> 表型<% } %></th>
                    <th><% if (lan == 'eng') { %> Action <% } else { %> 操作<% } %></th>
                    <th><% if (lan == 'eng') { %> Status <% } else { %> 导入状态<% } %></th>
                </tr>
            </thead>
            <tbody id="fileList"></tbody>
        </table>
    </div>
</div>


<script>
    $('.upload-btn').on('click', function(){
        var files = $('#upload-input').get(0).files;
        var genome_version = $('#genome_version').val();
        if (files.length > 0){
            // create a FormData object which will be sent as the data payload in the
            // AJAX request
            var formData = new FormData();

            // loop through all the selected files and add them to the formData object
            formData.append('genome_version', genome_version);
            formData.append('uploads', files[0], files[0].name);


            $.ajax({
                url: '/file_uploadGd',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data)
                {
                    if(data.res == 1)
                    {
                        window.location.reload();
                    }
                    else
                    {
                        alert("Upload file error!");
                    }
                },
                xhr: function() {
                    // create an XMLHttpRequest
                    var xhr = new XMLHttpRequest();

                    // listen to the 'progress' event
                    xhr.upload.addEventListener('progress', function(evt) {

                        if (evt.lengthComputable) {
                            // calculate the percentage of upload completed
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);

                            // update the Bootstrap progress bar with the new percentage
                            $('#upload-bar').text(percentComplete + '%');
                            $('#upload-bar').width(percentComplete + '%');

                            // once the upload reaches 100%, set the progress bar text to done
                            if (percentComplete === 100) {
                                $('#upload-bar').html('Done');

                            }

                        }

                    }, false);

                    return xhr;
                }
            });
        }
    });



</script>

<script>
    function delFile(filename,i) {

        var api = '/file_delete/' + filename;
        //alert($('#fileList').children().eq(i));
        var msg = "<% if (lan == "eng") { %>Are you sure?<% } else { %>确定删除？<% } %>";
        if (confirm(msg)==true) {
            $.ajax({
                url:api,
                type:'get',
                success:function(data) {
                    //window.location.reload();
                    if(data.res == 1)
                    {
                        $('#fileList').children().eq(i).remove();
                    }
                    else if(data.res == 2)
                    {
                        $('#errMsg').append('<span class="text-danger">File not exist!<span>');
                    }
                    else
                    {
                        $('#errMsg').append('<span class="text-danger">File delete error!<span>');
                    }

                }
            });
        } else {
            return false;
        }
    };
</script>

<script>
    var dir = '/files';
    var username = '<%-userName%>';
    $.getJSON(dir, function(result) {
        $("#fileList").html("");
        $.each(result, function(i, field) {

                $("#fileList").append(
                    "<tr class='sortable'>"+
                    "<td><span class='glyphicon glyphicon-file'></span></td>" +
                    "<td id=\"file"+i+"\">"+field.Name+"</td>" +
                    "<td>"+(field.Size/1048576).toFixed(2)+" MB"+"</td>" +
                    "<td id=\"variants"+i+"\">0</td>" +
                    '<td style="width:30%"><select id="sel_menu-'+i+'" name="HPO" multiple="multiple" class="form-control" style="width: 100%"></select></td>' +
                    "<td><button type='button' onclick=\"window.location.href='/vcf_viewer?fileName="+field.Name+"'\" id='view-"+i+"' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-cloud'></span>" + "<% if (lan == 'eng') { %> Analyze <% } else { %> 解析<% } %>" + "</button>" +
                    "<button type='button' id='acmg-"+ i +"' onclick=\"synDiag('"+field.Name+"','"+i+"')\" class='btn btn-default btn-sm'><span class='glyphicon glyphicon-list-alt'></span>" + "<% if (lan == 'eng') { %> Diagnose <% } else { %> 诊断<% } %>"+"</button>" +
                    "<a href='/file/"+field.Name + "'type='button' id='download-"+i+"' class='btn btn-default btn-download btn-sm'><span class='glyphicon glyphicon-download'></span>" + "<% if (lan == 'eng') { %> Download <% } else { %> 下载<% } %>" + "</a>" <% if (userName !== '' ||(userName === '' && currentDir === '/tmp')) { %> +
                    "<button type='button' onclick=\"delFile('"+field.Name+"','"+i+"')\" id='delete-"+i+"' class='btn btn-default btn-delete btn-sm'><span class='glyphicon glyphicon-remove'></span>" + "<% if (lan == 'eng') { %> Delete <% } else { %> 删除<% } %>" + "</button></td>" <% } %> +
                    //"<td><span>尚未导入</span></td>" +
                    '<td><div class="progress"><div id="progress-bar'+i+'" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div></div></td>'+
                    "</tr>"
                );
                pbar(i,field.Name);
                initSelect(field.Name,i);

        });



    });

</script>



<script>
    function pbar(i,filename){

        var progressbar = $('#progress-bar'+i);
        var username = '<%-userName%>';
        var timerId;
        var startTime = 2000;
        var percent = 0;
        var retry = 0;
        //progressbar.css("background-color","#337ab7");
        $('#view-'+i).attr('disabled',"true");
        $('#acmg-'+i).attr('disabled',"true");
        $('#download-'+i).attr('disabled',"true");
        $('#delete-'+i).attr('disabled',"true");
        var getPro = function()
        {
            var api = '/monitorStat';
            $.ajax({
                url: api,
                data: {fileName:filename,prog:'Import2DB'},
                type: 'GET',
                dataType: 'json',
                timeout:30000,
                success:function(data){
                    if(data.percent>=100){
                        window.clearInterval(timerId);
                        $('#view-'+i).removeAttr("disabled");
                        $('#acmg-'+i).removeAttr("disabled");
                        $('#download-'+i).removeAttr("disabled");
                        $('#delete-'+i).removeAttr("disabled");
                        variant(i,filename);
                    }
                    else
                    {
                        if(data.percent - percent < 1)
                        {
                            startTime = startTime + 2000;
                            window.clearInterval(timerId);
                            timerId = window.setInterval(getPro,startTime);
                            //alert(startTime);
                        }
                        else
                        {
                            if(startTime > 2000)
                            {
                                startTime = startTime - 1000;
                                window.clearInterval(timerId);
                                timerId = window.setInterval(getPro,startTime);
                            }

                        }
                        percent = data.percent;
                    }
                    progressbar.text(data.status);
                    progressbar.width(data.percent+'%');
                    $('#variants'+i).text(accounting.formatNumber(data.loaded));

                },
                error:function(){
                    if(retry < 3)
                    {
                        window.clearInterval(timerId);
                        timerId = window.setInterval(getPro,startTime);
                        retry ++;
                    }
                    else
                    {
                        window.clearInterval(timerId);
                        //alert("error!");
                    }

                }
            });
        };

        timerId = window.setInterval(getPro,startTime);
    };

    function variant(i,filename) {
        var api = '/variants?fileName=' + filename + '&filter={}';
        $.ajax({
            url: api,
            type: 'GET',
            dataType: 'json',
            success:function(data){
                $('#variants'+i).text(accounting.formatNumber(data.variants));
                $('#file'+i).attr('title','Description: '+ data.description);

            },
            error:function(e){
                console.log(e);
            }
        });
    };
</script>

<script type="text/javascript">
    function initSelect(filename,i) {
        var sel = $('#sel_menu-'+i);
        var url = "/api/Select";
        //初始化症状自动完成搜索栏
        sel.select2({
            multiple:true,
            language: eng == 1? "en":"zh-CN",
            placeholder: eng == 1 ? 'Please enter HPO name or HPO ID' : '请输入症状名或症状ID',
            ajax:
                {
                    url:url,
                    dataType: 'json',
                    delay: 600,
                    contentType:"application/x-www-form-urlencoded;charset=UTF-8",
                    data: function (params){
                        return {
                            query: params.term, // search term
                        };
                    },
                    processResults: function (data, page)
                    {
                        return{
                            results: data.items
                        };
                    },
                    cache:true
                },
            escapeMarkup: function (markup)
            {
                return markup;
            },
            minimumInputLength: 2,
            //maximumInputLength: 40,
            templateResult:formatRepo,
            templateSelection:formatRepoSelection,
            openOnEnter: false,
            allowClear: true
        });

        var url = '/initSelect';
        $.ajax({
            url: url,
            data: {fileName:filename},
            success: function(data) {
                if(data.res == 1)
                {
                    for(var i in data.hpo)
                    {
                        var option = new Option(data.hpo[i].Name, data.hpo[i].ID, true, true);
                        sel.append(option).trigger('change');
                    }
                }
            },

        });
    }
    function formatRepo(repo)
    {
        if (repo.loading) return repo.text;
        repo.text = repo.name;
        var markup = '<div class="select2-results__options" value='+repo.id+'>'
            + repo.id+'|'+repo.text+'</div>';
        return markup;
    }

    function formatRepoSelection(repo){
        repo.selected = true;
        repo.name = repo.id
        if(repo.id == null || repo.name == ""){
            repo.id = 'Please type items'
            repo.name = repo.text
        }
        return repo.text;
    }
</script>
<script>
    function synDiag(filename,i)
    {
        var form = $("#sel_menu-"+i);
        if(form.select2('data').length === 0)
        {
            var msg = "<% if (lan == "eng") { %>Please enter at least one phenotype<% } else { %>请输入患者表型<% } %>";
            alert(msg);
        }
        else
        {
            var str = '';
            var line = new Array();;
            for (var i = 0;i < form.select2('data').length;i++)
            {
                str += form.select2('data')[i].id+'|';
                line.push(form.select2('data')[i].id+'$'+form.select2('data')[i].text);
            }

            window.location.href = '/synDiagList?filename='+filename+'&hpo='+str+'&line='+line.join('|');

        }

    }
</script>

<% include ./footer2.ejs %>